<!DOCTYPE html>
<html>
  <head>
    <title>EBS 1/4| Time Table</title>
    <style>
      span {
        display: block;
        font-size: 10px;
      }
      .time {
        font-size: 15px;
      }
    </style>
  </head>
  <body>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Day/Period</th>
      <th scope="col">1 <span class="time">7:30 am</span><span class="time">8:10 am</span></th>
      <th scope="col">2<span class="time">8:10 am</span><span class="time">8:50 am</span></th>
      <th scope="col">3<span class="time">8:50 am</span><span class="time">9:30 am</span></th>
      <th scope="col">4<span class="time">9:30 am</span><span class="time">10:10 am</span></th>
      <th scope="col">5<span class="time">10:10 am</span><span class="time">10:50 am</span></th>
      <th scope="col">6<span class="time">10:50 am</span><span class="time">11:30 am</span></th>
      <th scope="col">7<span class="time">11:30 am</span><span class="time">12:00 pm</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Sunday</th>
      <td>Geography <span>"Mr.Mohamed Ezzat"</span></td>
      <td>English <span>"Mr. Amer"</span></td>
      <td>Chemistry <span>"Mr.Mohamed karam"</span></td>
      <td>Computer <span>"Mr.Mohamed Awad"</span></td>
      <td>Arabic <span>"Mr.Mostafa Abd El Hady"</span></td>
      <td>Physics <span>"Mrs. Fatma"</span></td>
      <td>Philosophy <span>"Mr. Ahmed Salah"</span></td>
    </tr>
    <tr>
      <th scope="row">Monday</th>
      <td>Arabic <span>"Mr.Mostafa Abd El Hady"</span></td>
      <td>Biology <span>"Mr. Mohamed Wattar"</span></td>
      <td>German + Italian <span>"Mr.Mohamed Saad + Mr.Ahmed Mansour"</span></td>
      <td>English <span>"Mr.Amer"</span></td>
      <td>English <span>"Mr.Amer"</span></td>
      <td>Mathematics <span>"Mrs. Alaa"</span></td>
      <td>Gardening <span>"Mrs. Magda"</span></td>
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
      <td>History <span>"Mrs. Elham"</span></td>
      <td>Religion <span>"Mr. Mostafa Abd El Hady"</span></td>
      <td>Geography <span>"Mr. Mohamed Ezzat"</span></td>
      <td>Biology <span>"Mr. Mohamed Wattar"</span></td>
      <td>Mathematics<span>"Mrs. Alaa"</span></td>
      <td>German + Italian <span>"Mr. Mohamed Saad + Mr. Ahmed Mansour"</span></td>
      <td>Arabic<span>"Mr. Mostafa Abd El Hady"</span></td>
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
      <td>Physics<span>"Mrs. Fatma"</span></td>
      <td>P.E <span>"Mr. Ashmouny"</span></td>
      <td>Arabic <span>"Mr. Mostafa Abd El Hady"</span></td>
      <td>History<span>"Mrs. Elham"</span></td>
      <td>German + Italian <span>"Mr. Mohamed Saad + Mr. Ahmed Mansour"</span></td>
      <td>Mathematics<span>"Mrs. Alaa"</span></td>
      <td>Watania <span>"Mr. Ahmed Salah"</span></td>
    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td>Chemistry<span>"Mr. Mohamed Karam"</span></td>
      <td>Mathematics <span>"Mrs. Alaa"</span></td>
      <td>English <span>"Mr. Amer"</span></td>
      <td>English <span>"Mr. Amer"</span></td>
      <td>Religion <span>"Mr.Mostafa Abd El Hady"</span></td>
      <td>Philosophy <span>"Mr. Ahmed Salah"</span></td>
      <td>Arabic <span>"Mr.Mostafa Abd El Hady"</span></td>
    </tr>
  </tbody>
</table>
  </body>
</html>
